<%- include("partials/header.ejs")%>
<link rel="stylesheet" href="style/contact.css">
<!-- Updated to Font Awesome 5 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
</style>
<h1>Contact Us</h1>

<!-- Simple icon test -->

<div class="social-icons">
    
    <a href="https://x.com/sidjain5848" title="twitter"> 
      <i class="fab fa-twitter-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/siddhantjain5848/" title="instagram">  
      <i class="fab fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/siddhant-jain-96b889256/" title="linkedin">
      <i class="fab fa-linkedin" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/sidjain1387" title="github">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
    
    
  </div>

<%- include("partials/footer.ejs")%>
