<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
</head>
<body>
    <%- include ("./partials/header.ejs")%>
    <form action="/qrr" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Link or Text</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="lat">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Size (in pixels)</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="size1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%if (locals.value){%>
        <img src= <%=value%> alt="QR CODE">    
    <%}%>
    <%- include ("./partials/footer.ejs")%>

</body>
</html>